.cv-section
  summary
    h5
      display: inline
      margin-left: 8px
  
  .cv-section-dropdown
    display: grid
    
    &#awards, &#workshops, &#education, &#releases, &#selected, &#administrative
      grid-template-columns: 12% auto auto
    &#residencies, &#teaching
      grid-template-columns: 12% auto auto auto
    &#memberships
      grid-template-columns: 12% auto
    
    .cv-section-header
      display: grid
      grid-column: 1 / span 3
      white-space: nowrap
      padding: 4px 0
      
    .cv-section-item
      border-bottom: 1px solid #ddd
      padding: 4px 8px 4px 0

      &.awards, &.workshops, &.education, &.releases, &.selected, &.administrative
        &:nth-of-type(3n + 3)
          text-align: right
          padding-right: 0
      &.residencies, &.teaching
        &:nth-of-type(4n + 4)
          text-align: right
          padding-right: 0
      &.memberships
        &:nth-of-type(even)
          text-align: right
          padding-right: 0
      
@media screen and (max-width: 768px)
  .cv-section
    .cv-section-dropdown
      display: grid

      &#awards, &#residencies, &#workshops, &#teaching, &#education, &#releases, &#selected, &#administrative, &#memberships
        grid-template-columns: auto
     
      .cv-section-header
        grid-column: 1 / span 1

      .cv-section-item
        text-align: left
        border-bottom: none
        &.awards, &.workshops, &.education, &.releases, &.selected, &.administrative
          &:nth-of-type(3n + 1)
            font-style: italic
          &:nth-of-type(3n + 3)
            border-bottom: 1px solid #ddd
            text-align: left
        &.residencies, &.teaching
          &:nth-of-type(4n + 1)
            font-style: italic
          &:nth-of-type(4n + 4)
            border-bottom: 1px solid #ddd
            text-align: left
        &.memberships
          &:nth-of-type(odd)
            font-style: italic
          &:nth-of-type(even)
            border-bottom: 1px solid #ddd
            text-align: left

