<section>
    {% for year in site.calendar reversed %}
    <div class="calendar-year">
        <details name="year">
           <summary><h5>{{year.title}}</h5></summary>
            <div class="calendar-dropdown" id="{{ year.title }}">
                {% assign content = year.content | newline_to_br | strip_newlines | replace: "<br />", "\ " | strip_html | split: "\ "  %}
                {% for item in content  %}
                {% assign leader = item | slice: 0 %}
                {% if {{leader}} == "%" %}
                <span class="calendar-header" style="font-weight: bold">{{ item | remove_first: "%" }}</span>
                {% else %}
                <div class = "calendar-item {{ year.title }}">
                    <span>{{ item }}</span>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </details>
    </div>
    {% endfor %}
</section>
