---
---

//------------------------------------------------
// Set some colors as sass variables

$accent-color: #ea58fb
$accent: #000000
$accent-light: $accent
$selectionColor: lighten($accent-color, 30%)

$textColor: #000000
$headlineColor: #000000
$bgcolor: #ffffff
$documentBackgroundColor: #ffffff

@import '1-base/-base-dir'
@import '2-sections/-sections-dir'
