---
---

//------------------------------------------------
// Set some colors as sass variables

$accent-color: #d432e6
$accent: #000000
$accent-light: $accent
$selectionColor: lighten($accent-color, 30%)

$textColor: #000000
$headlineColor: #000000
$bgcolor: #e5eaee
$documentBackgroundColor: #fff

@import '1-base/-base-dir'
@import '2-sections/-sections-dir'
